* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 229, 229);
  margin: 0 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.box {
  background-color: #999;
  border: 2px solid #000;
  padding: 15px;
  position: relative;
}
.box span {
  border: 2px solid black;
  border-top: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 40px;
  margin-bottom: 50px;
}

.box p {
  margin-top: 15px;
}

.box-container .box:nth-child(1) span {
  background-color: #d59898;
}
.box-container .box:nth-child(2) span {
  background-color: #c14543;
}
.box-container .box:nth-child(3) span {
  background-color: #e5d198;
}

/* MEDIA QUERIES */
/* TABBLET 768px and 991px */
@media (max-width: 991px) and (min-width: 768px) {
  .box-container {
    grid-template-columns: 1fr 1fr;
  }
  .box-container .box:last-child {
    grid-column: 1 / -1;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .box-container {
    grid-template-columns: 1fr;
  }
}
